
<div [class]="cols + ' welcome'">
    <img src="../../../assets/Paulie.png" class="welcome-image">
    <div class="welcome-inner">
      Experienced and keen Asp.Net developer and web application developer, specializing in C# and ASP.NET.
      I use many different technologies, such as JQuery, SQL Server, HTML and CSS to design and develop appropriate applications.
      I can troubleshoot Windows and Mac based pc’s – both software and hardware.
      I can manage small to moderate sized teams.
    </div>
</div>

